<div class="container-fluid">
    <div class="row">
        <header class="bg-dark text-white p-3">
        <h1>Bienvenidos al Ecommerce</h1> 
         </header>
    </div>
</div>


<body>
  <div class="container-fluid">
  <div class="row">
    <div class="col-12 m-t 3">
        <h1>Productos</h1>
        <ul>
        {{#each products}}
          <li>{{id}} - {{title}} - {{description}} - {{price}} - {{thumbnail}} - {{code}}- {{stock}} - {{status}}- {{category}}</li>
        {{/each}}
      </ul>
    </div>
</div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
    <script>
        const ws = io('ws://localhost:3050');
        


       ws.on('connect', () => { 
        ws.emit('event_producto', 'Este es un mensaje de producto');
        ws.on('server_confirm', (msg) => {
            console.log('El servidor ha confirmado la conexión');
        });
    })
    </script>
</body>